# Generated stuff from libtool, automake etc
Makefile
Makefile.in
*.lo
*.la
.deps/
/libtool
config.h.in
lex.yy.c
stamp-h1
src/config.h
autom4te.cache/
config.log
config.status
configure
grib_api.spec
grib_api.pc
grib_api_f90.pc
perl/GRIB-API/Makefile.PL
rpms/grib_api.pc
rpms/grib_api.spec
rpms/grib_api_f90.pc
aclocal.m4
src/config.h.in~
python/gribapi.pyc
python/gribapi_swig.pyc

# Generated stuff from builds
src/.libs/
tools/.libs/
tools/all_keys
tools/big2gribex
tools/gaussian
tools/gg_sub_area_check
tools/grib2ppm
tools/grib_compare
tools/grib_copy
tools/grib_count
tools/grib_diff
tools/grib_dump
tools/grib_filter
tools/grib_get
tools/grib_get_data
tools/grib_histogram
tools/grib_index_build
tools/codes_info
tools/grib_list_keys
tools/grib_ls
tools/grib_merge
tools/grib_repair
tools/grib_set
tools/grib_to_netcdf
tools/mars_request
tools/parser
tools/xref
tools/grib1to2
examples/C/.libs/
examples/C/box
examples/C/bufr_read_header
examples/C/get
examples/C/get_data
examples/C/iterator
examples/C/keys_iterator
examples/C/large_grib1
examples/C/list
examples/C/mars_param
examples/C/multi
examples/C/multi2
examples/C/multi_write
examples/C/nearest
examples/C/points
examples/C/precision
examples/C/print_data
examples/C/sections_copy
examples/C/set
examples/C/set_bitmap
examples/C/set_data
examples/C/set_missing
examples/C/set_pv
examples/C/values_check
fortran/.libs/
fortran/*.mod
fortran/grib_f90.f90
fortran/eccodes_f90.f90
fortran/grib_kinds.h
fortran/grib_types
fortran/same_int_long
fortran/same_int_size_t
python/eccode_swig.py
python/eccode_swig_wrap.c
python/setup.py
tests/.libs/
tests/bpv_limit
tests/double_cmp
tests/gauss_sub
tests/gribex_perf
tests/index
tests/jpeg_perf
tests/julian
tests/laplacian
tests/multi_from_message
tests/pack_unpack
tests/packing
tests/packing_check
tests/png_perf
tests/read_any
tests/read_index
tests/so_perf
tests/unit_tests
tests/ccsds_perf
tigge/.libs/
tigge/tigge_accumulations
tigge/tigge_check
tigge/tigge_name
tigge/tigge_split
# After you do a make check
examples/C/out.grib1
examples/C/out_surface_level.grib2
examples/F90/index.idx
examples/F90/index_f90.out
examples/F90/multi.out
examples/F90/multi_created.grib2
examples/F90/out.grib1
examples/F90/out_surface_level.grib2
examples/F90/.libs/
tests/bitmap.rules
tests/loc.grib1
tests/out.grib1
tests/out.grib2
tests/out.gribidx
tests/rules
tests/simple_ieee_test.grib1.txt
tests/statistics.filter
tests/statistics.out
tests/x.grib


# IFS samples
ifs_samples/*/*.tmpl

# compiled source #
###################
*.com
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.directory

src/tags

data/bufr/*.ref
data/bufr/*.test
data/bufr/*.json
data/bufr/*.no
data/.downloaded
data/budg
data/*.grib
data/*.grib2
data/*.grib1
data/tigge/tigge*.grib
data/bufr/*.bufr
data/exp/

CMakeLists.txt.user*

#some config
myconfig*
myconfigMem*
myconfigO*
myconfigemos*
myconfigemosgprof*
myconfiggprof*
myconfignopy*
INSTALL
share/
lib
include

#from make
examples/C/check_gaussian_grid
examples/C/ensemble_index
examples/C/clone
examples/C/iterator_bitmap
examples/C/new_sample
examples/F90/f_clone
examples/F90/f_copy_message
examples/F90/f_copy_namespace
examples/F90/f_count_messages
examples/F90/f_get
examples/F90/f_get_data
examples/F90/f_get_pl
examples/F90/f_get_pv
examples/F90/f_get_set_uuid
examples/F90/f_index
examples/F90/f_keys_iterator
examples/F90/f_multi
examples/F90/f_multi_write
examples/F90/f_nearest
examples/F90/f_new_from_file
examples/F90/f_precision
examples/F90/f_print_data
examples/F90/f_read_from_file
examples/F90/f_read_message
examples/F90/f_samples
examples/F90/f_set
examples/F90/f_set_bitmap
examples/F90/f_set_gvc
examples/F90/f_set_missing
examples/F90/f_set_pv
examples/python/.libs/
examples/python/my.idx
examples/python/p_count_messages
examples/python/p_iterator
examples/python/p_keys_iterator
examples/python/p_print_data
tools/bufr_compare
tools/bufr_copy
tools/bufr_dump
tools/bufr_filter
tools/bufr_get
tools/bufr_index_build
tools/bufr_ls
tools/bufr_set
tools/grib_to_json
tools/metar_dump
tools/metar_filter
tools/metar_get
tools/metar_ls
tools/taf_dump
tools/taf_filter
tools/taf_get
tools/taf_ls
python/.libs/
python/gribapi_swig.py
python/gribapi_swig_wrap.c

data/bufr/*diff
data/bufr/*decode
data/bufr/*test

*.sublime-workspace
*.old
