# Generated stuff from libtool, automake etc
Makefile
Makefile.in
*.lo
*.la
.deps/
/libtool
config.h.in
lex.yy.c
stamp-h1
src/config.h
autom4te.cache/
config.log
config.status
configure
grib_api.spec
grib_api.pc
grib_api_f90.pc
perl/GRIB-API/Makefile.PL
rpms/grib_api.pc
rpms/grib_api.spec
rpms/grib_api_f90.pc
aclocal.m4
src/config.h.in~
python/gribapi.pyc
python/gribapi_swig.pyc

# Generated stuff from builds
src/.libs/
tools/.libs/
tools/all_keys
tools/big2gribex
tools/gaussian
tools/gg_sub_area_check
tools/grib2ppm
tools/grib_add
tools/grib_cmp
tools/grib_compare
tools/grib_convert
tools/grib_copy
tools/grib_corruption_check
tools/grib_count
tools/grib_debug
tools/grib_diff
tools/grib_distance
tools/grib_dump
tools/grib_error
tools/grib_filter
tools/grib_get
tools/grib_get_data
tools/grib_histogram
tools/grib_index_build
tools/grib_info
tools/grib_keys
tools/grib_list_keys
tools/grib_ls
tools/grib_moments
tools/grib_packing
tools/grib_repair
tools/grib_set
tools/grib_to_netcdf
tools/mars_request
tools/parser
tools/xref
examples/C/.libs/
examples/C/box
examples/C/get
examples/C/get_data
examples/C/iterator
examples/C/keys_iterator
examples/C/large_grib1
examples/C/list
examples/C/mars_param
examples/C/multi
examples/C/multi2
examples/C/multi_write
examples/C/nearest
examples/C/points
examples/C/precision
examples/C/print_data
examples/C/sections_copy
examples/C/set
examples/C/set_bitmap
examples/C/set_data
examples/C/set_missing
examples/C/set_pv
examples/C/values_check
examples/F90/.libs/
examples/F90/copy_message
examples/F90/copy_namespace
examples/F90/count_messages
examples/F90/get
examples/F90/get_data
examples/F90/get_pl
examples/F90/get_pv
examples/F90/get_set_uuid
examples/F90/index
examples/F90/keys_iterator
examples/F90/multi
examples/F90/multi_write
examples/F90/nearest
examples/F90/new_from_file
examples/F90/precision
examples/F90/print_data
examples/F90/read_from_file
examples/F90/read_message
examples/F90/samples
examples/F90/set
examples/F90/set_bitmap
examples/F90/set_missing
examples/F90/set_pv
examples/python/count_messages
examples/python/iterator
examples/python/keys_iterator
examples/python/print_data
fortran/.libs/
fortran/grib_api.mod
fortran/grib_f90.f90
fortran/grib_kinds.h
fortran/grib_types
fortran/same_int_long
fortran/same_int_size_t
python/eccode_swig.py
python/eccode_swig_wrap.c
python/setup.py
tests/.libs/
tests/bpv_limit
tests/double_cmp
tests/gauss_sub
tests/gribex_perf
tests/index
tests/jpeg_perf
tests/julian
tests/laplacian
tests/multi_from_message
tests/pack_unpack
tests/packing
tests/packing_check
tests/png_perf
tests/read_any
tests/read_index
tests/so_perf
tests/unit_tests
tigge/.libs/
tigge/tigge_accumulations
tigge/tigge_check
tigge/tigge_name
tigge/tigge_split
# After you do a make check
examples/C/out.grib1
examples/C/out_surface_level.grib2
examples/F90/index.idx
examples/F90/index_f90.out
examples/F90/multi.out
examples/F90/multi_created.grib2
examples/F90/out.grib1
examples/F90/out_surface_level.grib2
tests/bitmap.rules
tests/loc.grib1
tests/out.grib1
tests/out.grib2
tests/out.gribidx
tests/rules
tests/simple_ieee_test.grib1.txt
tests/statistics.filter
tests/statistics.out
tests/x.grib


# IFS samples
ifs_samples/*/*.tmpl

# compiled source #
###################
*.com
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.sql
*.sqlite

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.directory

CMakeLists.txt.user*
