{# SPDX-FileCopyrightText: 2005- European Centre for Medium-Range Weather Forecasts (ECMWF)
   SPDX-License-Identifier: Apache-2.0 #}
{% extends "ci-infrastructure/rust-bindings-runner.sh.j2" %}
{% block cargo_doc %}{% endblock %}
