/*
 * (C) Copyright 2005- ECMWF.
 *
 * This software is licensed under the terms of the Apache Licence Version 2.0
 * which can be obtained at http://www.apache.org/licenses/LICENSE-2.0.
 *
 * In applying this licence, ECMWF does not waive the privileges and immunities granted to it by
 * virtue of its status as an intergovernmental organisation nor does it submit to any jurisdiction.
 */

// DEBUG - REMOVE!
#include "ProjStringData.h"


{%- for i in c.source_file_includes %}
#include {{ i }}
{%- endfor %}

namespace {{ c.nested_namespaces }} {

// Globals - START
{{ c.global_function.as_string() }}
// Globals - END

{% for func in c.functions %}
{{ func.as_string() }}
{% endfor %}

{% if c.constructor %}
{{ c.constructor.as_string() }}
{% endif %}

{% if c.destructor %}
{{ c.destructor.as_string() }}
{% endif %}

{% for func in c.template_member_functions %}
{{ func.as_string() }}
{% endfor %}

{% for func in c.virtual_member_functions %}
{{ func.as_string() }}
{% endfor %}

{% for func in c.member_functions %}
{{ func.as_string() }}
{% endfor %}

} // namespace {{ c.nested_namespaces }}
